* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: lime;
    height: 20vh;
}
header a {
    text-decoration: none;
}

#dp {
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 1em;
}

#dp img {
    height: 30%;
    width: 30%;
}

#logo {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
}

#logo h1 {
    font-size: 36px;
}

nav {
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
    text-align: right;
    padding: 1.2em;
}

nav a {
    font-size: 22px;
}

section {
    height: 70vh;
}

.sidebar {
    width: 30%;
    max-height: 100%;
    display: inline-block;
    background-color: rgb(75, 15, 116);
    vertical-align: top;
    overflow-y: scroll;
}

.sidebar ul {
    list-style-type: none;
    margin: 3em 0.5em;
    padding: 0;
    text-align: center;
    width: auto;
}

.sidebar ul li {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid white;
}

.sidebar ul li a {
    color: white;
    font-size: 18px;
    padding: 0.25em;
    text-decoration: none;
}

.content {
    width: 70%;
    min-height: 100%;
    padding-top: 3em;
    display: inline-block;
    text-align: center;
    background-color: blanchedalmond;
}

.content .checkout {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.checkout input[type="text"] {
    width: 35%;
    height: 3em;
    border: 1px solid #d8d5d5;
    border-radius: 5px;
    padding-left: 0.5em;
}

.checkout input[type="submit"] {
    width: 20%;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
}

.content .table {
    width: 50%;
    display: inline-block;
}

.table table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.table table {
    border: 2px solid wheat;
}

.table table td, .table table th, .table table tr {
    border: 2px solid wheat;
    font-size: 18px;
}

.edit {
    background-color: blue;
    color: white;
    width: 30%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.delete {
    background-color: red;
    color: white;
    width: 30%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;

}

footer {
    height: 10vh;
    text-align: center;
    background-color: blue;
    color: white
}